<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aspiration.mileagemaster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.TripProvider"
            android:authorities="com.aspiration.mileagemaster" />

        <activity
            android:name=".StandardChargeActivity"
            android:label="@string/title_activity_standard_charge"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aspiration.mileagemaster.MainActivity" />
        </activity>
        <activity
            android:name=".StandardChargeListActivity"
            android:label="@string/title_activity_standard_charge_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aspiration.mileagemaster.MainActivity" />
        </activity>
        <activity
            android:name=".ClientActivity"
            android:label="@string/title_activity_client"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aspiration.mileagemaster.MainActivity" />
        </activity>
        <activity
            android:name=".ClientListActivity"
            android:label="@string/title_activity_client_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aspiration.mileagemaster.MainActivity" />
        </activity>
        <activity
            android:name=".TripActivity"
            android:label="@string/title_activity_trip"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aspiration.mileagemaster.MainActivity" />
        </activity>
        <activity
            android:name=".TripListActivity"
            android:label="@string/title_activity_trip_list_activity_fragment"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aspiration.mileagemaster.MainActivity" />
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/trip_filter"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".SettingsActivity"></activity>
    </application>


</manifest>